@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Ourcompany wants to help future missionaries get questions about their missions answered by those that have been to the mission.</p>
