@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" class="jumbotron" style="background-image: url('https://img1.etsystatic.com/054/0/7516945/il_fullxfull.757853635_j9ic.jpg')" id="jumbojumbo">
    <h1>The Mission Forum</h1>
    <p class="lead">
        Our website uses the best resources to help
        connect aspiring missionaries to return missionnaries of a specific mission.
    </p>
    <p><a href="Home/Mission" class="btn btn-danger btn-lg">Explore a mission &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>United in Cause </h2>

        <p>
            “We are commanded by God to take this gospel to all the world. That is the cause that must unite us today. Only the gospel will save the world. … Only the gospel will unite men of all races. … Only the gospel will bring joy, happiness, and salvation to the human family.”
            —PRESIDENT EZRA TAFT BENSON
            PREACH MY GOSPEL, 2
        </p>
        <p><a class="btn btn-info" href="https://missionary.lds.org/en/home/default.html">Missionary Portal&raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Am I ready to serve?</h2>
        <p>Resources and information for young people who desire to serve a full-time mission.</p>
        <p><a class="btn btn-info" href="https://www.lds.org/topics/missionary-preparation?lang=eng">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Explore mission maps</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-info" href="https://www.lds.org/callings/missionary/mission-maps?lang=eng">Learn more &raquo;</a></p>
    </div>
</div>